/* src/styles/global.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

.neumo-blue{
  box-shadow:  5px 5px 10px #2858bf, -5px -5px 10px #3a81f4;
  background-color: #3675FD;
}

.neumo-blue-active{
  box-shadow:  inset 5px 5px 10px #204ba8, inset -5px -5px 10px #498dfb;
  background-color: #3c78f9;
}

.full {
  width: 100%;
  height: 100%;
}

.center {
  justify-content: center;
  align-items: center;
}

.trans {
  transition: 0.3s
}


.my-react-select-container .my-react-select__option {
  @apply dark:text-dark-text dark:bg-dark-bg dark:hover:bg-neutral-800;
}

.my-react-select-container .my-react-select__input-container,
.my-react-select-container .my-react-select__placeholder,
.my-react-select-container .my-react-select__single-value {
  @apply text-neutral-600 dark:text-neutral-200;
}

.my-react-select-container .my-react-select__control {
  @apply bg-transparent border-0 p-0 w-full shadow-none
}

.my-react-select-container {
  @apply w-full border-0 pl-2
}

.my-react-select-container .my-react-select__indicator {
  @apply p-0
}

.my-react-select-container .my-react-select__indicator-separator {
  @apply hidden
}

@layer components {
  .bg-gradient{
    background: linear-gradient(to right, #4c85f0 0%,#1444bc 100%);
  }

  .gradient-anim::before {
    animation: gradient-anim 2.6s cubic-bezier(0.22, 1, 0.36, 1) forwards;
    background: linear-gradient(to right, #4c85f0 0,#1444bc 100%);
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform-origin: left center;
    border-radius: 3px;
  }
  .gradient-anim-text {
    padding: 3px 5px;
    text-align: center;
    color: #fff;
    display: inline-block;
    font-weight: bold;
    position: relative;
    z-index: 1;
  }

  @keyframes gradient-anim {
    0% {
      opacity: 0;
      transform: scaleX(0) translateX(-5%);
    }
    30% {
      transform: scaleX(1) translateX(0);
    }
    100% {
      transform: scaleX(1) translateX(0);
    }
    30%, 100% {
      opacity: 1;
    }
  }
  .line {
    display: block;
    position: relative;
  }

  .line::after {
    background: linear-gradient(to right, #4c85f0 0%,#1444bc 100%);
    content: '';
    display: block;
    height: 1px;
    width: 0;
    transform: translateX(-50%);
    transition: 1.2s cubic-bezier(0.22, 1, 0.36, 1);
    position: absolute;
    bottom: 0;
    left: 50%;
  }

  .line.is-animated::after {
    width: 100%;
  }

  .slidIn-anim {
    animation: slideIn 1s cubic-bezier(0.25, 1, 0.5, 1) 1 forwards;
  }

  @keyframes slideIn {
    0% {
      transform: translateX(-180px);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }

  .slidUp-anim {
    animation: slideUp 0.6s cubic-bezier(0.25, 1, 0.5, 1) 1 forwards;
  }

  @keyframes slideUp {
    0% {
      transform: translateY(380px);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }

  .zoomIn-anim {
    animation: zoomIn 0.8s cubic-bezier(0.25, 1, 0.5, 1) 1 forwards;
  }
  
  @keyframes zoomIn {
    0% {
      transform: scale(0.8);
      opacity: 0;
    }
    100% {
      opacity: 1;
      transform: scale(1);
    }
  }
}