/* src/styles/global.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

.neumo-blue{
  box-shadow:  5px 5px 10px #2858bf, -5px -5px 10px #3a81f4;
  background-color: #3675FD;
}

.neumo-blue-active{
  box-shadow:  inset 5px 5px 10px #204ba8, inset -5px -5px 10px #498dfb;
  background-color: #3c78f9;
}

.full {
  width: 100%;
  height: 100%;
}

.center {
  justify-content: center;
  align-items: center;
}


.trans {
  transition: 0.3s
}
